.name-input {
  width: 80%;
  padding: 10px 12px;
  margin-top: 10px;
  font-size: 16px;
  border: 2px solid #5A1E76;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f7f3fa;
  color: #2c003e;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.name-input:focus{
  border-color: #8e44ad;
  box-shadow: 0 0 5px rgba(138, 43, 226, 0.4);
  background-color: #fff;
}
