article {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 0.75rem;
  width: 200px;
  text-align: center;
  /* color: white; */
  transition: transform 0.2s ease;
}

/* .registration-container article:hover {
  transform: translateY(-5px);
}  */

article img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 1rem;
}

article p {
  font-size: 20px;
}

.error-player-name {
  font-size: 1rem;
  color: cyan;
}

.error-div {
  height: 10px;
}