* {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

article.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2B0040;
  height: 500px;
  width: 360px;
  border-radius: 20px;
}

section.player-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  height: 60px;
  width: 230px;
}

section.player-container div:nth-child(1) {
  background-color: #DCBF3F;
}

section.player-container div:nth-child(2) {
  background-color: #72CFF9;
}

div.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

div.player > span {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

section.grid-container {
  display: grid;
  grid-template: auto auto auto / repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}

button.grid {
  height: 70px;
  width: 70px;
  background-color: #43115B;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
}

button.btn {
  margin-top: 30px;
  padding: 10px 40px;
  border-radius: 6px;
  border-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

button.x-turn-btn {
  background-color: #DCBF3F;
}

button.o-turn-btn {
  background-color: #72CFF9;
}
